name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  print-data:
    runs-on: ubuntu-latest
    steps:
      - name: Print data
        run: |
          echo ${{ github.actor }}
          echo ${{ github.repository }}
          echo ${{ github.branch }}

  docker-hub:
    needs: print-data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/examen-back:latest